# Discord Bot Token
TOKEN="TOKEN"

# Minecraft Server RCON Configuration
HOST="127.0.0.1"
PORT=25575
PASSWORD="rconpassword"

# Access Control (Allowed Discord User IDs)
ALLOWEDLIST=[123456789012345678]